.Input {
    width: 100%;
    
    input {
        width: 100%;
    }

    .formError{
        font-size: small;
        color: red;
        position: absolute;
    }
}

.formGroup {
    margin-bottom: 12px;
}

.formControl {
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
}
