.Videos {
    --highlight-color: #965A55;
    --primary-color: #4b464b;
    display: flex;
    flex-flow: row wrap;

    .videoTitle {
        font-size: 1.25rem;
        padding:1rem;
        text-decoration: none;

        a {
            color: var(--highlight-color);
        }
    }
}