.Room {
    display: flex;
    flex-direction: column;
    align-items: center;

    .videoWrapper {
        display: flex;
        flex-direction: column;

        .videoControls {
            margin-top: .8rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            button {
                outline: none;
                border: none;
                background-color: transparent;

                &:nth-child(3){
                    margin-left: 5px;
                }
            }
        }
    }

    .roomWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .Chat {
        margin: 10px;
    }
}


@media screen and (max-width: 629px) {
    .Room {
        display: flex;
        flex-direction: column;
    
        .Chat {
            margin: 10px;
        }
    }
    
}