.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .AppBackground {
  height: 100vh;
  position: absolute;
  width: 100%;
  filter: brightness(50%);
}

.AppWrapper {
  padding: 1rem 1.5rem;
  position: absolute;
}

.AppWrapper .AppLoginBtn {
  margin: .4rem;
  padding: .8rem 1.2rem;
  font-weight: 600;
  font-size: 1rem;
  outline: none;
  background-color: #fff;
  border: 1px solid #4b464b;
  color: #4b464b;
  border-radius: 5px;
  transition-property: color, background-color;
  transition-duration: 400ms;
  cursor: pointer;
}

.AppWrapper .AppLoginBtn:hover {
  background-color: #4b464b;
  color: #fff;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile .profilePic {
  margin: .5rem;
  height: 210px;
  width: 210px;
  border-radius: 105px;
}